* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}



table {
    border-collapse: collapse;
    border-spacing: 0;
}

table td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

table img{
    width: 100%;
    height: 100%;
}